<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252548198943-ec3gnethnkvoudaat0lrobmq2t7mve8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252548198943-ec3gnethnkvoudaat0lrobmq2t7mve8g</string>
	<key>API_KEY</key>
	<string>AIzaSyBhRRZgrQb8WfCKVMjOwC4jnK0XiMuK4YM</string>
	<key>GCM_SENDER_ID</key>
	<string>252548198943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.acela</string>
	<key>PROJECT_ID</key>
	<string>acela-9c624</string>
	<key>STORAGE_BUCKET</key>
	<string>acela-9c624.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252548198943:ios:2fcda030e33a7164355b2a</string>
</dict>
</plist>